<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="browser" value="firefox" />
    <add key="homepageUrl" value="http://uptake.com/" />
    <add key="implicitTimeout" value="20" />
  </appSettings>
</configuration>